.promo {
    min-height: 524px;
    background-color: #073042;
    position: relative;
}
.promo__title {
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin: auto;
    max-width: 730px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.promo__image {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    margin: auto;
}
@media screen and (max-width: 1100px) {
    .promo {
        min-height: 784px;
    }

}
@media screen and (max-width: 520px) {
    .promo__image {
        width: 248px;
        height: 248px;
    }
    .promo__title {
        font-size: 31px;
        line-height: 39px;
        max-width: 300px;
    }
}