.regist {
    max-width: 385px;
    margin: 70px auto;
}
.regist__form {
    margin: 40px 0 15px;
    display: flex;
    flex-direction: column;
}
.regist__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 40px;
    margin-top: 0;
}
.regist__item {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: #A0A0A0;
}
.regist__input {
    width: 395px;
    padding: 15px;
    border: none;
    font-size: 13px;
    line-height: 16px;
    background-color: #F9F9F9;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 8px;
    box-sizing: border-box;
}
.regist__input:focus {
    outline: none;
}
.regist__save-button {
    height: 45px;
    border: none;
    color: white;
    margin-top: 69px;
    padding: 0;
    transition: opacity .2s ease-in;
    background: #3456f3;
    border-radius: 3px;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
}
.regist__text {
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    text-align: center;
}
.regist__save-button:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: opacity ease-in .2s;
}
.regist__save-button:disabled {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
    opacity: .2;
    cursor: default;
}
.regist__link {
    text-decoration: none;
    color: #3456F3;
    transition: opacity ease-in .2s;
} 
.regist__link:hover {
    opacity: .8; 
    transition: opacity ease-in .2s;
}
.regist__item:focus {
    outline: none;
}
.regist__input-error {
    color: red;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 520px) {
    .regist {
        max-width: 260px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .regist__input {
        width: 260px;
    }
    .regist__form {
        align-items: center;
    }
}